<div class="container">
    <div class="row news-articles now_table m2">
        <div class="">
            <h2 style="text-align: center;">Insider Sentiments</h2>
            <table class="table " style="    width: 46vw;">
                <thead>
                    <tr>
                        <td class="font_bold">Apple Inc</td>
                        <td class="font_bold">MSPR</td>
                        <td class="font_bold">Change</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font_bold">Total</td>
                        <td>{{insight.total_mspr}}</td>
                        <td>{{insight.total_change}}</td>
                    </tr>
                    <tr>
                        <td class="font_bold">Positive</td>
                        <td>{{insight.positive_mspr}}</td>
                        <td>{{insight.positive_change}}</td>
                    </tr>
                    <tr>
                        <td class="font_bold">Negative</td>
                        <td>{{insight.negative_mspr}}</td>
                        <td>{{insight.negative_change}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row ">
        
    </div>
</div>